/* write your override styles here */
/* Getting rid of tag 1 using an element element selector */
div#wall .tag-1 {
    display: none ;
}
/* Getting rid of tag 2 using an element selector for all div elements with an id of tag-2 */
div#wall div#tag-2 {
    display: none;
}
/* For all div elements with an id of tag-3 and a class of slick wicked */
div#wall div#tag-3.slick.wicked {
    display: none;
}
/* Getting rid of the remaining tags by selecting all div elements with a class of parent */
div.parent {
    display: none;
}

